.body {
    font-family:"Poppins", sans-serif;
}

#lilheader {
    font-family: "IBM Plex Sans", sans-serif;
    color:#EF5925
}

#title {
    font-family: "IBM Plex Sans", sans-serif;
    color:black;
}

#btn {
    background-color: black;
    color:white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

#btn:hover {
    background-color:white;
    color:black;
}

#imgpresentation {
    border-radius: 10px;
}

#content {
    font-family:"Poppins", sans-serif;
}